/* Estilos para el sistema de inventario y gestión de reservas */

/* Importación de fuentes */

/* Fuente Inter para textos y datos */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.woff2') format('truetype'),
         url('../fonts/Inter/Inter-Regular.woff') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
/* Fuente INTER PARA TITULOS */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.woff2') format('truetype'),
         url('../fonts/Inter/Inter-Bold.woff') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Fuente poppins para títulos y encabezados */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.woff2') format('truetype'),
         url('../fonts/Poppins/Poppins-Bold.woff') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Fuente Poppins para textos y datos */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('truetype'),
         url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Definición de variables y estilos globales */
:root {
  /* Variables de colores */
  --color-principal: #10b981;
  --principal-secundario: #1c7202;
  --color-fondo: #f9fbf9;
  --color-fondo-secundario: #d1d5db;
  --color-texto: #333;
  --color-texto-secundario: #9794948f;
  --color-borde: #e5e7eb;

  /* Fuentes */
  --fuente-principal: 'Inter', sans-serif;
  --fuente-secundaria: 'Poppins', sans-serif;

  /* Tamaños */
  --espaciado: 16px;
  --ancho-maximo: 1200px;
  --borde-radio: 8px;
  
/*COLOR DE LOS BOTONES*/
--color-estado-disponible: #22c55e;
--color-estado-reservado: #2563eb;
--color-estado-en-mantenimiento: #facc15;
--color-estado-dañado: #dc2626;


  /* Fondo y color de texto por defecto */
  background-color: var(--color-fondo);
  color: var(--color-texto-secundario);
  font-family: var(--fuente-principal);
}



/*DISEÑO PARA PC*/
body {
    background-color: var(--color-estado-dañado);
}
.layout-principal {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 280px;
    background-color: #333;
    color: #8323b3;
    padding: 20px;
}.content {
    flex: 1;
    padding: 20px;
}.navbar {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
}

/*DISEÑO PARA TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {
    body {
    background-color: var(--color-estado-dañado);
}
.layout-principal {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 280px;
    background-color: #333;
    color: #8323b3;
    padding: 20px;
}.content {
    flex: 1;
    padding: 20px;
}.navbar {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
}
}

/*DISEÑO PARA MÓVIL*/
@media (max-width: 768px) {
    body{
        border-radius: 0px;
    }
    .layout-principal {
        flex-direction: column;
    }.sidebar {
        width: 100%;
        height: auto;
    }.content {
        padding: 10px;
    }.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-fondo);
        color: var(--color-texto);
        height: 120px;
        border-radius: 0px;
        padding: 10px 20px;
        width: 100%;
        flex-wrap: nowrap;
    }.navbar-brand {
        font-size: 32px;
        font-weight: bold;
        color: var(--color-principal);
        background: linear-gradient(90deg, var(--principal-secundario), var(--color-principal));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }.form-control {
        background-color: var(--color-fondo-secundario);
        width: 100%;
        padding: 10px;
        height: 28px;
        padding-top: 7px;
        border: 1px solid var(--color-borde);
        border-radius: 25px;
        
    }.buscador-container{
        position: relative;
        width: 100%;
    }::placeholder {
        color: var(--color-texto-secundario)!important; ;
        font-family: var(--fuente-secundaria);
        font-weight: 700;
    }.search-icon{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--color-texto-secundario) !important;
        z-index: 10 !important;
    }.d-flex {
        display: flex;
        gap: 10px;
        
        align-items: center;
    }.d-flex a {
        color: var(--color-principal) !important;
        font-size: 24px;
    }
}