/* Estilos para el sistema de inventario y gestión de reservas */

/* ========================= */
/* IMPORTACIÓN DE FUENTES */
/* ========================= */

/* Fuente Inter para textos y datos */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Fuente Inter para títulos */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter_28pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Fuente Poppins Bold */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Fuente Poppins Regular */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* ========================= */
/* VARIABLES GLOBALES */
/* ========================= */

:root {

    /* Variables de colores */
    --color-principal: #10b981;
    --principal-secundario: #1c7202;
    --color-fondo: #f9fbf9;
    --color-fondo-secundario: #d1d5db;
    --color-texto: #444444;
    --color-texto-secundario: #9794948f;
    --color-borde: #e5e7eb;

    /* Colores de estados */
    --color-estado-disponible: #22c55e;
    --color-estado-reservado: #2563eb;
    --color-estado-en-mantenimiento: #facc15;
    --color-estado-dañado: #dc2626;

    /* Fuentes */
    --fuente-principal: 'Inter', sans-serif;
    --fuente-secundaria: 'Poppins', sans-serif;

    /* Tamaños */
    --espaciado: 16px;
    --ancho-maximo: 1200px;
    --borde-radio: 8px;
}

/* ========================= */
/* CONFIGURACIÓN GLOBAL */
/* ========================= */

html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background-color: var(--color-fondo);
    color: var(--color-texto);

    font-family: var(--fuente-principal);
}

/* ========================= */
/* DISEÑO PRINCIPAL PARA PC */
/* ========================= */

.layout-principal {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    min-height: 100vh;
}

/* ========================= */
/* DISEÑO PARA TABLET */
/* ========================= */

@media (min-width: 768px) and (max-width: 1024px) {

    body {
        background-color: var(--color-fondo);
    }

    .layout-principal {
        display: flex;
        min-height: 100vh;
    }

    .content {
        flex: 1;
        padding: 20px;
    }
}

/* ========================= */
/* DISEÑO PARA MÓVIL */
/* ========================= */

@media (max-width: 768px) {

    body {
        border-radius: 0px;
    }

    .layout-principal {
        flex-direction: column;
        min-height: 100vh;
    }

    .content {
        padding: 10px;
    }
}